@import "github-markdown-css";

.markdown-body {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 980px;
  min-width: 200px;
  padding: 45px;
}

.markdown-body div {
  display: flex;
  flex-direction: column;
}

.markdown-body div.inline-wrapper {
  align-items: center;
  flex-direction: row;
}
.markdown-body div.inline-wrapper div {
  display: unset;
}

.markdown-body img {
  align-self: center;
  margin: 1em;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }

  .markdown-body div.inline-wrapper {
    align-items: unset;
    flex-direction: inherit;
  }
}
